<div class="signup">

<div class="signuphead">
  <h2>Edit</h2>

  <% @user == current_user %>

  <h3>Edit your profile here.<br /><br /> Looking to <span>add roles</span> to your resume? You can do that from your <%= link_to "main profile page", actor_path(@user) %></span></h3>

<div class="extralinks">
  <h4>Cancel my account</h4>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "delete_account" %></p>
</div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<table>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, :autocomplete => "off", :placeholder => "Leave these two blank unless..." %></td>
  </tr>

  <tr>
    <td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation, :placeholder => "...you wish to change your password :)" %></td>
  </tr>

  <tr>
    <td><%= f.label :current_password %></td>
    <td><%= f.password_field :current_password, :placeholder => "We need this to make sure it's you out there" %></td>
  </tr>

  <tr>
    <td><%= f.label :first_name %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>

  <tr>
    <td><%= f.label :last_name %></td>
    <td><%= f.text_field :last_name %></td>
  </tr>

  <tr>
    <td><%= f.label :phone %></td>
    <td><%= f.telephone_field :phone %></td>
  </tr>

  <% equity = ["Non-Equity", "Equity", "EMC"] %>
  <tr>
    <td><%= f.label :equity %></td>
    <td><%= f.select :equity, options_for_select(equity, @user.equity) %></td>
  </tr>

  <tr>
    <td><%= f.label :agency %></td>
    <td><%= f.text_field :agency %></td>
  </tr>

  <% gender = ["Female", "Male"] %>
  <tr>
    <td><%= f.label :gender %></td>
    <td><%= f.select :gender, options_for_select(gender, @user.gender) %></td>
  </tr>

  <% age_range = ["Infant", "Toddler", "Child", "Teenager", "Young Adult", "25-35 yrs", "35-50 yrs", "50-65 yrs", "65-80 yrs"] %>
  <tr>
    <td><%= f.label :age_range %></td>
    <td><%= f.select :age_range, options_for_select(age_range, @user.age_range) %></td>
  </tr>

  <tr>
    <td><%= f.label :height %></td>
    <td><%= f.number_field :height %></td>
  </tr>

  <tr>
    <td><%= f.label :weight %></td>
    <td><%= f.number_field :weight %></td>
  </tr>

  <% ethnic_appearance = ["Caucasian", "African American", "Hispanic", "Asian", "South Asian", "Native American", "Middle Eastern", "Southeast Asia / Pacific Islander", "Ethnically Ambiguous / Mixed Race", "African Descent" ] %>
  <tr>
    <td><%= f.label :ethnic_appearance %></td>
    <td><%= f.select :ethnic_appearance, options_for_select(ethnic_appearance, @user.ethnic_appearance) %></td>
  </tr>

  <tr>
    <td><%= f.label :vocal_range %></td>
    <td><%= f.text_field :vocal_range %></td>
  </tr>

  <tr>
    <td><%= f.label :headshot %></td>
    <td><%= f.file_field :headshot %></td>
  </tr>

  <tr>
    <td><%= f.label :resume %></td>
    <td><%= f.file_field :resume %></td>
  </tr>

  <tr>
    <td><%= f.label :special_skills %></td>
    <td><%= f.text_field :special_skills %></td>
  </tr>

</table>

  <div class="signbutton"><%= f.submit "Update >" %></div>
<% end %>

</div>
