<h2>Edit <%= resource_name.to_s.humanize %></h2>

<% @user == current_user %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <% equity = ["Non-Equity", "Equity", "EMC"] %>
  <div><%= f.label :equity %><br />
  <%= f.select :equity, equity, @user.equity %></div>

  <% gender = ["Female", "Male"] %>
  <div><%= f.label :gender %><br />
  <%= f.select :gender, gender, @user.gender %></div>

  <div><%= f.label :height %><br />
  <%= f.number_field :height %></div>

  <div><%= f.label :weight %><br />
  <%= f.number_field :weight %></div>

  <% hair = ["Brown", "Blonde", "Dirty Blonde", "Red", "Black", "Grey"] %>
  <div><%= f.label :hair %><br />
  <%= f.select :hair, hair, @user.hair %></div>

  <% eyes = ["Blue", "Brown", "Hazel", "Green", "Grey"] %>
  <div><%= f.label :eyes %><br />
  <%= f.select :eyes, eyes, @user.eyes %></div>

  <div><%= f.label :vocal_range %><br />
  <%= f.text_field :vocal_range %></div>

  <div><%= f.label :headshot %><br />
  <%= f.text_field :headshot %></div>

  <div><%= f.label :resume %><br />
  <%= f.text_field :resume %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
