<div class="signup">

<div class="signuphead">
  <h2>Sign up</h2>

  <h3>This form creates your initial actor profile. Once you fill this out, theatre companies will be able to find you through our search</h3>

  <p>Already have a profile?<br /> Go ahead and <%= link_to "sign in.", new_session_path(resource_name) %></p>
  <p>Interested in using our search for your theatre company?<br /> <span>Set up a meeting.</span></p>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {id: "SignupForm"}) do |f| %>
  <%= devise_error_messages! %>

<table>

  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, :placeholder => "e.g. hello@lionelritchie.com" %></td>
  </tr>

  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </tr>

  <tr>
    <td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>

  <tr>
    <td><%= f.label :first_name %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>

  <tr>
    <td><%= f.label :last_name %></td>
    <td><%= f.text_field :last_name %></td>
  </tr>

  <tr>
    <td><%= f.label :phone %></td>
    <td><%= f.telephone_field :phone %></td>
  </tr>

  <% equity = ["Non-Equity", "Equity", "EMC"] %>
  <tr>
    <td><%= f.label :equity %></td>
    <td><%= f.select :equity, equity %></td>
  </tr>

  <tr>
    <td><%= f.label :agency %></td>
    <td><%= f.text_field :agency %></td>
  </tr>

  <% gender = ["Female", "Male"] %>
  <tr>
    <td><%= f.label :gender %></td>
    <td><%= f.select :gender, gender %></td>
  </tr>

  <% age_range = ["Infant", "Toddler", "Child", "Teenager", "Young Adult", "25-35 yrs", "35-50 yrs", "50-65 yrs", "65-80 yrs"] %>
  <tr>
    <td><%= f.label :age_range %></td>
    <td><%= f.select :age_range, age_range %></td>
  </tr>

    <tr>
      <td><%= f.label :height %></td>
      <td><%= f.number_field :height %></td>
    </tr>

    <tr>
      <td><%= f.label :weight %></td>
      <td><%= f.number_field :weight %></td>
    </tr>

    <% ethnic_appearance = ["Caucasian", "African American", "Hispanic", "Asian", "South Asian", "Native American", "Middle Eastern", "Southeast Asia / Pacific Islander", "Ethnically Ambiguous / Mixed Race", "African Descent" ] %>
    <tr>
      <td><%= f.label :ethnic_appearance %></td>
      <td><%= f.select :ethnic_appearance, ethnic_appearance %></td>
    </tr>

    <tr>
      <td><%= f.label :vocal_range %></td>
      <td><%= f.text_field :vocal_range, :placeholder => "e.g. F2-C5" %></td>
    </tr>

    <tr>
      <td><%= f.label :headshot %></td>
      <td><%= f.file_field :headshot %></td>
    </tr>

    <tr>
      <td><%= f.label :resume %></td>
      <td><%= f.file_field :resume %></td>
    </tr>

    <tr>
      <td><%= f.label :special_skills %></td>
      <td><%= f.text_field :special_skills %></td>
    </tr>

  </table>

  <div class="signbutton"><%= f.submit "Sign up >" %></div>

<% end %>

</div>
