<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <% equity = ["Non-Equity", "Equity", "EMC"] %>
  <div><%= f.label :equity %><br />
  <%= f.select :equity, equity %></div>

  <% gender = ["Female", "Male"] %>
  <div><%= f.label :gender %><br />
  <%= f.select :gender, gender %></div>

  <div><%= f.label :height %><br />
  <%= f.number_field :height %></div>

  <div><%= f.label :weight %><br />
  <%= f.number_field :weight %></div>

  <% hair = ["Brown", "Blonde", "Dirty Blonde", "Red", "Black", "Grey"] %>
  <div><%= f.label :hair %><br />
  <%= f.select :hair, hair %></div>

  <% eyes = ["Blue", "Brown", "Hazel", "Green", "Grey"] %>
  <div><%= f.label :eyes %><br />
  <%= f.select :eyes, eyes %></div>

  <div><%= f.label :vocal_range %><br />
  <%= f.text_field :vocal_range %></div>

  <div><%= f.label :headshot %><br />
  <%= f.text_field :headshot %></div>

  <div><%= f.label :resume %><br />
  <%= f.text_field :resume %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
