<div class="actorwrap">
    <div class="headshot">
        <%= image_tag @actor.headshot %>
        <p><span>Special Skills</span><br /><%= @actor.special_skills %></p>
    </div>
    <div class="resume">



        <div class="first">
            <h1><%= @actor.first_name %> <%= @actor.last_name %>
                <% if user_signed_in? && current_user.id == @actor.id %>
                <p><%= link_to "<i class='fa fa-pencil-square-o'></i> Edit Profile".html_safe, edit_user_registration_path(@actor) %></p>
                <% else %>
                    <p><i class="fa fa-plus-circle"></i> Add to callsheet</p>
                <% end %>
            </h1>
            <div class="contact">
                <ul>
                    <li><%= @actor.agency %></li>
                    <li><%= @actor.email %></li>
                    <li><%= number_to_phone(@actor.phone) %></li>
                </ul>
            </div>
            <table class="stats">
                <h2 class="eq"><i class='fa <%= @actor.star %>'></i> <%= @actor.equity %></h2>
                <tr>
                    <td>Height</td>
                    <td><%= @actor.height %></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td><%= @actor.weight %></td>
                </tr>
                <tr>
                    <td>Vocal Range</td>
                    <td><%= @actor.vocal_range %></td>
                </tr>
            </table>
        </div>



        <div class="clearfix"></div>
        <% if user_signed_in? && current_user.id == @actor.id %>
        <div class="role">
            <h2><i class="fa fa-plus-circle"></i> Add a Role</h2>
            <div class="role_add">
                <%= form_for(@job, remote: true, html: {class: "roleform"}) do |j| %>
                <ul>
                    <li>
                        <fieldset>
                            <legend>Role</legend>
                            <input id="rolesauto" name="character_name" type="text" placeholder="Search roles">
                            <!--  <input id="rolesauto"> -->
                            <!-- <input type="hidden" id="rolesauto-id"> -->
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>Show</legend>
                            <input id="playsauto" name="play_name" type="text" placeholder="Search shows">
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>Theatre</legend>
                            <input id="theatresauto" name="theatre_name" type="text" placeholder="Search theatres">
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>City</legend>
                            <input id="citiesauto" placeholder="Cities">
                        </fieldset>
                    </li>
                </ul>

                <button type="button"><%= j.submit "✔︎ Add to Resume" %></button>
                <% end %>
                <div class="clearfixrole"></div>
            </div>
        </div>
        <% end %>
        <div class="resume_list">
            <table id="resumeview">
                <%= render partial: 'resume', locals: { jobs: @jobs } %>
            </table>
        </div>
    </div>
</div>


