<div class="actorwrap">
    <div class="headshot">
        <%= image_tag "katie.jpg" %>
        <h2><i class="fa fa-picture-o"></i> Edit Headshot</h2>
    </div>
    <div class="resume">
        <div ng-controller="PlaysController" class="angu">
         <angucomplete id="ex1" placeholder="Search shows" pause="100" selectedobject="selectedShow" localdata="plays" searchfields="title" titlefield="title" minlength="1" />
         <div ng-show="selectedShow" class="angu">
            {{ selectedShow.originalObject.title }}
         </div>
        </div>

        <div class="first">
            <h1><%= @actor.first_name %> <%= @actor.last_name %><p><i class="fa fa-pencil-square-o"></i> Edit Profile</p></h1>
            <div class="contact">
                <ul>
                    <li>Grey Talent</li>
                    <li><%= @actor.email %></li>
                    <li>(386) 801-5016</li>
                </ul>
            </div>
            <table class="stats">
                <h2 class="eq"><i class='fa <%= @actor.star %>'></i> <%= @actor.equity %></h2>
                <tr>
                    <td>Height</td>
                    <td><%= @actor.height %></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td><%= @actor.weight %></td>
                </tr>
                <tr>
                    <td>Vocal Range</td>
                    <td><%= @actor.vocal_range %></td>
                </tr>
            </table>
        </div>



        <div class="clearfix"></div>
        <div class="role">
            <h2><i class="fa fa-plus-circle"></i> Add a Role</h2>
            <div class="role_add">
                <%= form_for(@job) do |j| %>
                <ul>
                    <li>
                        <fieldset>
                            <legend>Show</legend>
                            <input type="text"></input>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>Role</legend>
                            <input type="text"></input>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>Theatre</legend>
                            <input type="text"></input>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <legend>City</legend>
                            <input type="text"></input>
                        </fieldset>
                    </li>
                </ul>
                <% end %>
            </div>
        </div>
        <div class="resume_list">
            <table>
              <% @jobs.each do |job| %>
              <% role = job.role %>
              <% play = role.play %>
              <% theatre = job.theatre %>
                <tr>
                    <td><%= play.title %></td>
                    <td><%= role.character_name %></td>
                    <td><%= theatre.name %> <i class="fa fa-angle-right"></i></td>
                    <td><%= theatre.city %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
