<div class="all_auditions">

<h1>Auditions</h1>
  <div class="sidebar">
    <p>These are the current active auditions. As an actor, you can submit by clicking the button on this list, or by using the button on the audition's individual page.<br /><br />If you are a theatre company and want to post an audition, <span>click here.</span></p>
  </div>
<% @auditions.each do |audition| %>
  <div class="one_audition">
    <h2><%= audition.play.title %></h2>
    <ul>
      <li><%= audition.theatre.name %></li>
      <li><i class='fa <%= audition.star %>'></i> <%= audition.equity_type %></li>
      <li><%= audition.play.type_of_show %></li>
      <li>
        <% if user_signed_in? %>
          <%= form_for(@submission) do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :audition_id, :value => audition.id %>
            <%= f.submit '✔︎ Submit', :confirm => "Submit for this audition?" %>
          <% end %>
        <% else %>
          <button type="button"><%= link_to '✔︎ Submit'.html_safe, new_user_session_path %></button>
        <% end %>
      </li>
    </ul>
    <div class="description">
      <% start_day = audition.audition_start.strftime("%e").to_i %>
      <% end_day = audition.audition_end.strftime("%e").to_i %>
      <p><%= audition.audition_start.strftime("%A, %b") %> <%= start_day.ordinalize %> - <%= audition.audition_end.strftime("%A, %b") %> <%= end_day.ordinalize %></p>
      <p><span class="text"><%= audition.description %></span> <%= link_to "(Read more?)", audition_path(audition) %></p>
    </div>
  </div>
<% end %>
</div>


