  <div class="single_audition_page">
    <h2><%= @audition.play.title %></h2>
    <div class="audition_info">
    <ul>
      <li><%= @audition.theatre.name %></li>
      <li><i class='fa <%= @audition.star %>'></i> <%= @audition.equity_type %> <%= @audition.play.type_of_show %></li>
      <li>Unpaid</li>
    </ul>
    <ul class="dates">
      <% start_day = @audition.audition_start.strftime("%e").to_i %>
      <% end_day = @audition.audition_end.strftime("%e").to_i %>
      <li><span>Auditions</span><br /><%= @audition.audition_start.strftime("%A, %b") %> <%= start_day.ordinalize %> - <%= @audition.audition_end.strftime("%A, %b") %> <%= end_day.ordinalize %></li>
      <li><span>Rehearsals</span><br />Tuesday, Aug 3rd - Wednesday, Sep 1st</li>
      <li><span>Run</span><br />Thursday, Sep 2nd - Sunday, Sep 30th</li>
      </ul>
        <div>
        <% if user_signed_in? %>
          <% if Submission.where(audition_id: @audition.id).find_by(user_id: current_user.id) %>
            <button type="button">Submitted!</button>
          <% else %>
            <%= form_for(@submission) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :audition_id, :value => @audition.id %>
              <%= f.submit '✔︎ Submit', :confirm => "Submit for this audition?" %>
            <% end %>
          <% end %>
        <% else %>
          <button type="button"><%= link_to '✔︎ Submit'.html_safe, new_user_session_path %></button>
        <% end %>
      </div>
  </div>
    <div class="breakdown">
      <h3>Roles:</h3>
      <ul>
      <% roles = @audition.play.roles %>
      <% roles.each do |role| %>
        <li><%= role.character_name %></li>
      <% end %>
      </ul>
    </div>
    <div class="description">
      <p><%= @audition.description %></p>
    </div>


  </div>
