<div class="wrap2">
    <h1><%= link_to "<span>#{@audition.play.title}</span> Submissions".html_safe, "/submissions/#{@audition.id}" %></h1>
    <button class="type">Filter actors by type</button>
    <button class="role">Filter actors by role</button>
    <div class="search1">
      <%= form_tag "/submissions/#{@audition.id}", :method => 'get' do %>
        <% gender = ["", "Female", "Male"] %>
        <%= select_tag :gender, options_for_select(gender) %>
        <% equity = ["", "Non-Equity", "Equity", "EMC"] %>
        <%= select_tag :equity, options_for_select(equity) %>
        <% age_range = ["", "Infant", "Toddler", "Child", "Teenager", "Young Adult", "25-35 yrs", "35-50 yrs", "50-65 yrs", "65-80 yrs"] %>
        <%= select_tag :age_range, options_for_select(age_range) %>
        <% ethnic_appearance = ["", "Caucasian", "African American", "Hispanic", "Asian", "South Asian", "Native American", "Middle Eastern", "Southeast Asia / Pacific Islander", "Ethnically Ambiguous / Mixed Race", "African Descent" ] %>
        <%= select_tag :ethnic_appearance, options_for_select(ethnic_appearance) %>
        <%= text_field_tag :special_skills, nil, :placeholder => "Special skills?" %>
        <%= submit_tag "Search >", :name => nil %>
      <% end %>
    </div>
    <div class="search2">
      <%= form_tag "/submissions/#{@audition.id}", :method => 'get' do %>

          <%= text_field_tag :search, params[:search], :placeholder => "Start typing a role name" %>

      <%= submit_tag "Search >", :name => nil %>
      <% end %>
    </div>
    <div class="table_search">
    <table>
      <% @actors.each do |actor| %>
        <tr>
            <td><%= image_tag actor.headshot.thumb.url %></td>
            <td><i class="fa fa-plus-circle"></i></td>
            <td class="name"><%= link_to actor.first_name + " " + actor.last_name, actor_path(actor) %></td>
            <td><i class='fa <%= actor.star %>'></i><%= actor.equity %></td>
            <td><%= actor.height %></td>
            <td><%= actor.weight %> lbs</td>
            <td><%= actor.special_skills %></td>
        </tr>
        <%= form_for(@callsheet) do |f| %>
          <%= f.hidden_field :user_id, :value => actor.id %>
          <%= f.hidden_field :audition_id, :value => @audition.id %>
          <% roles = [] %>
          <% roles.push("") %>
          <% roles.push("Ensemble") %>
          <% @audition.play.roles.each do |role| %>
            <% roles.push(role.character_name) %>
          <% end %>
          <% status = ["", "LW", "NAP", "NAA", "SET", "CB1", "CB2", "CB3", "HOLD"] %>
        <tr class="call_form">
          <td></td>
          <td><%= f.submit "✔︎" %></td>
          <td><%= f.select :role_name, roles, multiple: true %></td>
          <td><%= f.select :status, status %></td>
          <td><%= f.text_field :wave %></td>
          <td><%= f.text_field :conflicts %></td>
          <td><%= f.text_field :notes %></td>
        </tr>
        <% end %>
        <% end %>
    </table>
  </div>
</div>
