<div class="wrap2">
    <h1>Search submissions for <span><%= @audition.play.title %></span></h1>
    <div class="search1">
      <%= form_tag "/submissions/#{@audition.id}", :method => 'get' do %>
        <% gender = ["All", "Female", "Male"] %>
        <%= label_tag :gender %>
        <%= select_tag :gender, options_for_select(gender) %>
        <% equity = ["All", "Non-Equity", "Equity", "EMC"] %>
        <%= label_tag :equity %>
        <%= select_tag :equity, options_for_select(equity) %>
        <% age_range = ["All", "Infant", "Toddler", "Child", "Teenager", "Young Adult", "25-35 yrs", "35-50 yrs", "50-65 yrs", "65-80 yrs"] %>
        <%= label_tag :age_range %>
        <%= select_tag :age_range, options_for_select(age_range) %>
        <% ethnic_appearance = ["All", "Caucasian", "African American", "Hispanic", "Asian", "South Asian", "Native American", "Middle Eastern", "Southeast Asia / Pacific Islander", "Ethnically Ambiguous / Mixed Race", "African Descent" ] %>
        <%= label_tag :ethnic_appearance %>
        <%= select_tag :ethnic_appearance, options_for_select(ethnic_appearance) %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
    <div class="search2">
      <%= form_tag "/submissions/#{@audition.id}", :method => 'get' do %>
      <fieldset>
          <legend>Role or Show</legend>
          <%= text_field_tag :search, params[:search] %>
      </fieldset>
      <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <div class="filter">
        <ul>
            <li>Filter By <i class="fa fa-angle-right"></i></li>
            <li>
                <ul>
                    <li>All</li>
                    <li>Equity</li>
                    <li>Equity + EMC</li>
                    <li>Non-Equity</li>
                </ul>
            </li>
        </ul>
    </div>

    <table>
      <% @actors.each do |actor| %>
        <tr>
            <td><%= image_tag actor.headshot.thumb.url %></td>
            <td class="name"><%= link_to actor.first_name + " " + actor.last_name, actor_path(actor) %></td>
            <td><i class='fa <%= actor.star %>'></i><%= actor.equity %></td>
            <td><%= actor.height %></td>
            <td><%= actor.weight %> lbs</td>
            <% if params[:search] %>
            <td class="view"><%= @role.character_name %></td>
            <% else %>
            <td><%= actor.roles.last.character_name %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
