<!DOCTYPE html>
<html ng-app="roleFinder">
<head>
  <title>RoleFinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="nav">
    <ul class="main">
        <li id="title"><span>CastMate</span></li>
        <li>About</li>
        <li><%= link_to "Auditions", auditions_path %></li>
        <li><%= link_to "Actor Search", actors_path %></li>
    </ul>
    <ul class="log">
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
    <% @user = current_user %>
        <ul class="logged_in">
          <li><%= image_tag @user.headshot.thumb.url %></li>
          <li>Hello, <span><%= link_to @user.first_name, actor_path(@user) %></span></li>
        </ul>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
